form {
  font-size: 16px;
}

input, select, textarea {
  font-size: 1.6rem;
  @apply flex border border-gray-500 rounded-lg px-6 py-4 w-full tracking-wider;
  &::placeholder {
    @apply text-gray-400;
  }

  &::-ms-input-placeholder {
    @apply text-gray-500;
  }
}

label {
  @apply flex mt-6 mb-2;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

input[type=radio] + label, input[type=checkbox] + label {
  @extend .ft-0;
  @apply flex w-full py-8 px-12 mt-0 border rounded-2xl
  text-left font-semibold
  justify-start items-center
  cursor-pointer
  bg-brand-1/5;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  @apply bg-gradient-to-br from-sky-900 to-sky-700 text-white border-2 border-brand-2;
}

select {
  appearance: none;
  border-radius: 0;

  &::-ms-expand {
    display: none;
  }

  & option:disabled {
    @apply text-gray-500;
  }

  &:invalid {
    @apply text-gray-500;
  }

  &[disabled] {
    @apply text-gray-500;
  }
}

.select {
  position: relative;

  &::after {
    font-size: 1.4rem;
    display: block;
    position: absolute;
    right: 1rem;
    top: 25%;
    content: "expand_more";
    font-family: "Material Icons";
    color: black;
  }
}

.survey-card {
  @apply top-20 flex flex-col w-full max-w-[56rem] p-8 rounded-b-2xl overflow-scroll;
}